[mysqld]
datadir=/var/lib/mysql/data
user=mysql

innodb_buffer_pool_size         = 500M
innodb_flush_log_at_trx_commit  = 0
# innodb_flush_method           = O_DIRECT
innodb_log_file_size            = 200M
innodb_file_per_table           = 1
bind_address = 0.0.0.0

binlog_format=ROW

log_error =                 error.log

## Galera/PXC params
wsrep_cluster_name=PXC-Docker
wsrep_node_name=node1
wsrep_provider=/usr/lib64/libgalera_smm.so
wsrep_cluster_address=gcomm://node1,node2,node3
#wsrep_cluster_address=gcomm://
wsrep_slave_threads=4
innodb_autoinc_lock_mode=2

## SST
wsrep_sst_donor=node2
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth="sstuser:p4ssw0rd"

[sst]
sst-initial-timeout=1800
